<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <add key="TestWebsiteUrl" value="http://www.ibm.com/au-en/"/>

    <!-- Seconds -->
    <add key="DefaultWaitTimeout" value="5" />

    <add key="DefaultPageLoadTimeout" value="5" />

    <!-- Minutes, run reports take a long time so this value should be greater than 10 minutes -->
    <add key="DefaultCommandTimeout" value="5" />

    <!-- FireFox, IE, Chrome -->
    <add key="WebDriver" value="Chrome" />

    <add key="ChromWebDriverPath" value="C:\Sample POM\Tigerspike.QA.POM\packages\Selenium.WebDriver.ChromeDriver.2.25.0.8\driver" />
    <add key="IEWebDriverPath" value="C:\Sample POM\Tigerspike.QA.POM\packages\Selenium.WebDriver.IEDriver.3.0.0.1\driver"/>

  </appSettings>

</configuration>